[submodule "rp2040-doom"]
	path = rp2040-doom
	url = git@github.com:sylverb/rp2040-doom.git
	branch = perf-investigation
[submodule "retro-go-porting-toolkit"]
	path = retro-go-porting-toolkit
	url = https://github.com/slash-proc/gnw-retro-go-porting-toolkit.git
	update = none
